@{
    ViewBag.Title = "Contact";
}
<body style="background-color:#f8fafc;">
    <h2>@ViewBag.Title</h2>

    <div>
        <span>Bryan Gautama Ngo</span>
        <br>
        <span>Sheinna Yendri</span>
        <br>
        <span>Emmanuel Maximus Yohanes</span>
    </div>

    <strong>
        Institut Teknologi Sepuluh Nopember
    </strong>
</body>