@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Welcome.cshtml";
}
<head>
    <style>
        a {
            color: #FFFFFF;
            text-decoration: none;
        }

            a:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
    </style>

</head>

<body class="antialiased" style="background-color:#f8fafc;">
    <div class="relative flex items-top justify-center min-h-screen bg-gray sm:items-center sm:pt-0">
        <div class="text-center">
            <img src="~/Images/q2.png" style="max-height:30%; max-width:30%;" />
            <h1 style="color:dark-gray; font-weight:bold; font-size:100px">events.co</h1>
            <span style="color:dark-gray; font-size:30px;">Find Your Happiness Here</span>



            <div style="margin-top: 30px;">
                <button type="submit" class="btn btn-primary w-100">
                    @Html.ActionLink("Login", "Login","User")
                </button>
                <button type="submit" class="btn btn-warning w-100">
                    @Html.ActionLink("Register", "Register","User")
                </button>
            </div>
        </div>
    </div>

</body>
